@tailwind base;
@tailwind components;
@tailwind utilities;


/* Flip Animation */
@keyframes flip {
  from {
    transform: rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0);
    opacity: 1;
  }
}

.animate-flip {
  animation: flip 0.5s ease-in-out forwards;
}

.button-gradient {
  background-image: linear-gradient(to right, #4f46e5, #9333ea); /* Indigo to Purple */
  color: white;
  padding: 12px 24px;
  border-radius: 1.5rem;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  transition: all 0.3s ease;
}

.button-gradient:hover {
  background-image: linear-gradient(to right, #4338ca, #6d28d9); /* Slightly darker on hover */
  transform: scale(1.05);
}

.button-gradient:focus {
  outline: none;
}


.text-gradient {
  background-image: linear-gradient(to right, #000080, #8b5cf6); /* From blue to purple */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}