@tailwind base;
@tailwind components;
@tailwind utilities;


/* Flip Animation */
@keyframes flip {
  from {
    transform: rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0);
    opacity: 1;
  }
}

.animate-flip {
  animation: flip 0.5s ease-in-out forwards;
}

@keyframes shadowRunning {
  0% {
    box-shadow: 0 0 10px rgba(116, 116, 116, 0.6);
  }
  25% {
    box-shadow: 10px 0 10px rgba(117, 117, 117, 0.6);
  }
  50% {
    box-shadow: 10px 10px 10px rgba(138, 138, 138, 0.6);
  }
  75% {
    box-shadow: 0 10px 10px rgba(141, 141, 141, 0.6);
  }
  100% {
    box-shadow: 0 0 10px rgba(201, 201, 201, 0.6);
  }
}

.shadow-running-animation {
  animation: shadowRunning 2s linear infinite; /* Adjust duration as needed */
}